*{
    user-select: none;
    font-weight: bold !important;
}

html{
    overscroll-behavior: contain;
    overflow: hidden;
    height: 100%;
}

body{
    background-image: url('img/background.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;
}

#scrollableContent{
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#scrollableContent::-webkit-scrollbar {
  display: none;
}

#loadingScreen{
    position:fixed;
    width:100%;
    height:100%;
    top: 0px;
    left: 100%;
    background-color: black;

    opacity: 0;
    transition: opacity 1s;
}

.show{
    left: 0px !important;
}

.fade{
    opacity: 1 !important;
}

form#searchform{
    display: none;
}
form#searchform2{
    display: none;
}